# Object files
*.o
*.obj

# Executables (Unix/Linux/macOS)
*.out
a.out

# Executables (Windows)
*.exe

# Static libraries
*.a
*.lib

# Shared libraries
*.so
*.so.*
*.dll
*.dylib

# Debug files
*.dSYM/

bin/